@import "tailwindcss";

@theme {
  --color-gGray-100: #f6f6f6;
  --color-gGray-300: #b3b3b3;
  --color-gGray-400: #818181;
  --color-gGray-500: #555555;
  --color-sSlate-100: #e7e9f0;
  --color-sSlate-200: #b5bed1;
  --color-sSlate-300: #6a7ca2;
  --color-sSlate-400: #395183;
  --color-sSlate-600: #082564;
  --color-sSlate-800: #04163c;
  --color-oOrange-500: #f37021;
  --hero-height: calc(100vh - 160px);
}

:root {
  /* --background: #02143a; */
  --background: #04163c;
  --foreground: #ffffff;
  /* color: #02143a
  #f5f5f5
  #8d8485
  #354d80
  #bdc3cf
  #223151
  #687aa0
  #fd8d48
  #fbfbfb
  #072464
  #e6e8ed
  #566585
  #a6a4aa */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
