@import "tailwindcss";

@theme {
  --color-gGray-100: #f6f6f6;
  --color-gGray-300: #b3b3b3;
  --color-gGray-400: #818181;
  --color-gGray-500: #555555;
  --color-sSlate-100: #e6e9f0;
  --color-sSlate-200: #b5bed1;
  --color-sSlate-300: #6a7ca2;
  --color-sSlate-400: #395183;
  --color-sSlate-600: #072564;
  --color-sSlate-800: #04163c;
  --color-sSlate-900: #05122e;
  --color-oOrange-500: #f37021;
  --hero-height: calc(100vh - 160px);
  --font-suisse-intl: 'SuisseIntl', sans-serif;
  --font-arges: 'Arges', sans-serif;
}

@layer utilities {
  .container-base {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  .container-default {
    /* extends .container-base */
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    @apply py-4 sm:py-6 lg:py-8;
  }
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/local/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Keep text visible during load */
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/local/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/local/SuisseIntl-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 2) Arges: Medium, Black */
@font-face {
  font-family: 'Arges';
  src: url('/fonts/local/Arges-NormalMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arges';
  src: url('/fonts/local/Arges-NormalBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: var(--color-sSlate-900);
  --foreground: var(--color-gGray-100);

  --font-suisse-intl: 'SuisseIntl', sans-serif;
  --font-arges: 'Arges', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-suisse-intl), Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
